
<style>
    body {
        font-family: Elephant !important;
    }

    h2 {
        color: #262262;
    }
</style>

<div class="jumbotron" style="background-image:url(../img/istock-508387030.jpg); height:350px;">
    <h2> Cadê meu Médico?! </h2>
    <br />
    <h4 style="font-family: Elephant !important;"> Encontre o médico mais próximo de você! </h4>
    <br />
    <p><a href="" class="btn btn-primary btn-lg">Busque Agora &raquo;</a></p>
</div>

<!--
<div style="position: relative;">
    <img id="imag" src="~/img/istock-508387030.jpg" />
    <label id="texto">Cadê meu Médico?!</label>
    <label class="lead texto2">Encontre o médico mais próximo de você!</label>
    <p class="texto2" style="top:45%"><a href="" class="btn btn-primary btn-lg">Busque Agora &raquo;</a></p>
</div>
-->
<div class="row">
    <div class="col-md-6">
        <h2>É um médico?</h2>
        <p>
            Quem escolheu a profissão o fez por aptidão. Eu considero a prática uma verdadeira missão.
            Uma missão sem data de cumprimento, pois, assim como outros profissionais, o médico estudou por anos e ainda estuda,
            frequentemente, em busca de um aperfeiçoamento constante.
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Todo o esforço para que seus pacientes tenham um atendimento cada vez melhor."
        </p>
        <p><button id="bt" type="button" class="btn" onclick="location.href='../Medicos/Adicionar'">Cadastre-se</button></p>
    </div>
    <div class="col-md-6">
        <h2>Deseja ser um Paciente? </h2>
        <p>
            Necessita de ajuda? Conte conosco!
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Confiança é a base de tudo!"
        </p>
        <p><button id="bt" type="button" class="btn" onclick="location.href='../Usuarios/Adicionar'">Cadastre-se</button></p>
    </div>
</div>

